.formulario, fieldset {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 1em;
    background-color: #9BB4C0;
    border-radius: 15px;
}

label  {
    padding: 1em;
}

input, textarea {
border: none;
outline: none;
border-radius: 15px;
padding: 1em;
background-color: #ccc;
box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
transition: 300ms ease-in-out;
font-family: Arial, Helvetica, sans-serif;
}

input:focus {
background-color: white;
transform: scale(1.05);
box-shadow: 13px 13px 100px #969696,
-13px -13px 100px #ffffff;
font-family: Arial, Helvetica, sans-serif;
}