        /* Parte del header -------------------------- -------------------------------------- */

        header {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #456882;
            width: 100%;
        }
        #Titulo{
            font-family: 'Arial', sans-serif;
            color: white;
            text-shadow: 3px 3px 6px rgba(0,0,0,0.8);
            border-radius: 15px;
        }

        nav {
            width: 60%;
            background-color: #86B0BD;
        }

        nav ul {
            display: flex;
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        nav li {
            flex-grow: 1;
            text-align: center;
            font-family: 'Arial', sans-serif;
            color: white;
            text-shadow: 3px 3px 6px rgba(0,0,0,0.8);
            border-radius: 15px;
        }

        nav a {
            display: block;
            margin: 0;
            color: white;
            padding: 10px;
            text-decoration: none;
            border: 1px solid white;
        }

        nav a:hover {
            background-color: #217dbb;
        }

        /* Parte del header -------------------------------------------------------------------- */

        /* Div central ---------------------------------------------------------------------- */
        #central {
            background-color: #217dbb;
            background-image: url(../Imagenes/central2.jpg);
            background-repeat: no-repeat;
            background-size: 100%;
            width: 100%;
            height: 45em;
            position: relative;
        }

        #FraseCentral {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: black;
            text-align: center;
        }

        #FraseCentral {
            font-family: 'Arial', sans-serif;
            font-size: 12px;
            color: white;
            text-shadow: 3px 3px 6px rgba(0,0,0,0.8);
            border-radius: 15px;
        }
        /* Div central ---------------------------------------------------------------------- */