#div_contenedor-sobremi{
    position: relative;
    background-color: #ffffff;
    width: 100%;
    height: 50%;
}

h1 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Arial', sans-serif;
    color: white;
    text-shadow: 3px 3px 6px rgba(0,0,0,0.8);
    border-radius: 15px;
}

.texto{
    position: absolute;
    left: 1%;
    width: 60%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

img {
    position: absolute;
    float: right;
    right: 3em;
}

